html, body {
    margin: 0;
    padding: 0;
}

.navigation-bar {
    background-color: black;
    margin: 0;
    color: white;
    
    li {
        margin: 10px;
        padding: 10px;
        list-style: none;
        display: inline-block;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
}